@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.body {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-div {
    height: auto;
    padding: 0 4rem;
    background: #D9D9D9;
}

h3 {
    font-size: 2rem;
    margin: 2rem 0;
}

input {
    width: 100%;
    outline: none;
    height: 2rem;
    padding: 0 0.5rem;
    border: none;
}

.options {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

button,
.generate-btn {
    padding: 0.5rem 0.8rem;
    background: #FFFFFF;
    border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.generate {
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.generate-btn {
    padding: 0.5rem 1rem;
    font-size: large;
}

.pop-up {
    width: 100%;
    background: #fff;
    height: auto;
    display: flex;
    padding: 0.5rem;
    margin-top: 0.3rem;
    animation: slideIn 0.3s ease-out;
}

.generated-text {
    flex-basis: 95%;
    background: #D9D9D9;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}


.close-btn {
    margin-left: 0.5rem;
    cursor: pointer;
}


img {
    width: 1rem;
    cursor: pointer;
}

.selected {
    background-color: #007BFF;
    color: #FFFFFF;
}

.error {
    color: red;
}

@keyframes slideIn {
    from {
        transform: translateY(-20%);
    }

    to {
        transform: translateY(0);
    }
}
