<div class="body">
    <div class="center-div">
        <div class="pop-up" *ngIf="!close">
            <div class="generated-text">
                <p class="text"> {{password}}</p>
                <img src="https://www.svgrepo.com/show/309480/copy.svg" 
                [cdkCopyToClipboard]="password" 
                [matTooltip]="tooltipText" 
                matTooltipPosition="above"
                (mouseout)="outFunc()" 
                (click)="onCopy()"
                alt="" class="copy">
            </div>
            <p class="close-btn" (click)="closeText()">X</p>
        </div>
        
        <div class="heading">
            <h3>Password Generator</h3>
        </div>

        
        <div class="input-field">
            <p [ngClass]="{'error' : error}">{{message}}</p>
            <input type="number" [(ngModel)]="length" id="" min="8" max="100">
            <div class="options">
                <button [ngClass]="{'selected' : upperCase}" (click)="upperCaseSelect()">A - Z</button>
                <button [ngClass]="{'selected' : lowerCase}" (click)="lowerCaseSelect()">a - z</button>
                <button [ngClass]="{'selected' : number}" (click)="numberSelect()">0 - 9</button>
                <button [ngClass]="{'selected' : specialCharecter}" (click)="specialCharecterSelect()">! - ?</button>
            </div>
            <div class="generate">
                <button (click)="generate()" class="generate-btn">Generate</button>
            </div>
        </div>
    </div>
</div>

